<div class="container-fluid text-center mt-5 ">

    <div class="row mb-5">
        <h2 class="text-center  mb-3 text-warning head">Weather Details</h2>
        <hr class="text-primary mb-3">

        <div class="col-1"></div>
        <div class="col-10 content">
        <form action="" class="mt-5">
        <input (keyup)="search($event)" type="text" class="place" placeholder="Search By Location" >
        <!-- <input  type="button" class="btn btn-success"  value="search"> -->
    </form>
<br>
<br>
<div>
<img height="70px" src="http://openweathermap.org/img/w/{{icon}}.png" alt=""> &nbsp;&nbsp;
<b class="text-primary">{{temperature}}</b>
&nbsp;&nbsp; <img height="70px" src="http://openweathermap.org/img/w/{{icon}}.png" alt=""></div>

<h2 class="text-primary">{{weather}}</h2>
    </div>
    <div class="col-1"></div>
</div>

</div>